/* Basic CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
} /* Color Palette Variables */
:root {
  --black: #000000;
  --green: #008000;
  --blue: #1e90ff;
}

main {
  padding: 3em;
}

.title {
  border-top: 3px solid #000000;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

.subtitle {
  color: var(--green);
}

dl {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.general-section {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.general-section .title {
  border-top: none;
  color: var(--green);
  font-size: 0.8em;
}
.general-section .subtitle {
  color: var(--blue);
  font-size: 1em;
}

.general-section p {
  font-size: 0.8em;
}

.general-section h5 {
  margin-bottom: 0.6em;
}

.general-section ul {
  font-size: 0.8em;
}
